# tagplay stations: URL <TAB> Name. Lines starting with # ignored.
# Seeded on first run; edit freely, or :radio add / :radio rm in-app.
http://stream.srg-ssr.ch/m/rsc_de/mp3_128	Radio Swiss Classic
http://stream.srg-ssr.ch/m/rsj/mp3_128	Radio Swiss Jazz
https://icecast.radiofrance.fr/francemusique-midfi.mp3	France Musique
https://icecast.radiofrance.fr/fip-midfi.mp3	FIP (Radio France)
https://stream.wqxr.org/wqxr	WQXR New York Classical
http://stream.radioparadise.com/mp3-192	Radio Paradise (Main Mix)
https://ice1.somafm.com/groovesalad-128-mp3	SomaFM Groove Salad
https://npr-ice.streamguys1.com/live.mp3	NPR Live (News)
http://stream.live.vc.bbcmedia.co.uk/bbc_world_service	BBC World Service (News)
https://mp3.rtvslo.si/ars	Radio Slovenija ARS
https://mp3.rtvslo.si/val202	Val 202
https://mp3.rtvslo.si/prvi	Radio Slovenija Prvi (News)
http://stream0.wfmu.org/freeform-128k.mp3	WFMU Freeform
http://kruljo.radiostudent.si:8000/ehiq	Radio Študent Ljubljana
https://wwoz-sc.streamguys1.com/wwoz-hi.mp3	WWOZ New Orleans
https://icecast.radiofrance.fr/fipworld-midfi.mp3	FIP World
https://icecast.radiofrance.fr/fipgroove-midfi.mp3	FIP Groove
https://icecast.radiofrance.fr/fiprock-midfi.mp3	FIP Rock
https://icecast.radiofrance.fr/fipjazz-midfi.mp3	FIP Jazz
https://knkx-live-a.edge.audiocdn.com/6285_128k	Jazz24
https://stream.wfmt.com/main-mp3	WFMT Chicago Classical
https://ice5.somafm.com/secretagent-128-mp3	SomaFM Secret Agent
https://ice5.somafm.com/dronezone-256-mp3	SomaFM Drone Zone
https://ice5.somafm.com/u80s-256-mp3	SomaFM Underground 80s
https://ice5.somafm.com/illstreet-128-mp3	SomaFM Illinois Street Lounge
https://stream.radioparadise.com/world-etc-192	Radio Paradise World-Etc
https://stream.srg-ssr.ch/srgssr/rsp/mp3/128	Radio Swiss Pop
http://ice24.securenetsystems.net/WAMU	Bluegrass Country (WAMU)
https://kexp.streamguys1.com/kexp160.aac	KEXP Seattle
https://weta.streamguys1.com/wetaclassical-icy	WETA Classical
https://weta.streamguys1.com/wetavirtuoso-icy	WETA Virtuoso
https://weta.streamguys1.com/wetavivalavoce-icy	WETA VivaLaVoce;
